[Configuration]

## How much to multiply the speed. 10 = 10x higher jumps
# Setting type: Single
# Default value: 100
SpeedMultiplier = 100

## How much to multiply the jump height/distance by. 10 = 10x higher jumps
# Setting type: Single
# Default value: 1.5
JumpMultiplier = 1.5

## spring
# Setting type: Single
# Default value: 10
Spring = 10

## damper
# Setting type: Single
# Default value: 30
Damper = 30

## massscale
# Setting type: Single
# Default value: 12
MassScale = 12

## webcolor hex code
# Setting type: Color
# Default value: FFFFFFFF
webColor = FFFFFFFF

[rgb_monke]

## Whether to cycle through colours of rainbow or choose random colors
# Setting type: Boolean
# Default value: false
RandomColor = false

## The speed the color cycles at each frame (1=Full colour cycle). If random colour is enabled, this is the time in seconds before switching color
# Setting type: Single
# Default value: 1
CycleSpeed = 0.004

## The brightness of your monkey. The higher the value, the more emissive your monkey is
# Setting type: Single
# Default value: 1
GlowAmount = 1

